<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cat" class="man.kuke.model.Cat"/>
    <bean id="Dog" class="man.kuke.model.Dog"/>

<!--    autowried 自动注入-->
<!--    成员名 与bean id匹配-->
<!--    <bean id="People" class="man.kuke.model.People" autowire="byName">-->
<!--            根据 成员类型 与bean class 匹配-->
    <bean id="People2" class="man.kuke.model.People" autowire="byType">

    </bean>
</beans>